In [1]:
import pandas as pd
import numpy as np

In [2]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [3]:
vdf

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [4]:
   vdf.isnull().sum()

category    0
item        0
variety     0
date        0
price       0
unit        0
dtype: int64

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [5]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

In [6]:
vdf.loc[:,["variety","item","category"]].groupby("category",as_index=False).count()

      category  variety  item
0  cut_flowers      342   342
1        fruit     1992  1992
2   pot_plants       49    49
3    vegetable     7264  7264

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por aÃ±o.

Ejemplo de como debe de mostrar su respuesta

In [7]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [12]:
vdf["year"] = pd.DatetimeIndex(vdf["date"]).year

In [15]:
vdf = vdf.sort_values(by="date",ascending=False)

In [17]:
result3 = pd.DataFrame()

In [43]:
result3 = vdf.loc[:,["item","variety","date","year","price"]].groupby(["item","variety","year"], as_index = False).head(1)

In [44]:
result3 = result3.drop(columns="date")

In [45]:
result3 = result3.rename(columns={"price":"last_price"}).sort_values(by=["item","year"])

In [46]:
result3

             item            variety  year  last_price
9304  alstromeria             indoor  2017        0.27
6945  alstromeria             indoor  2018        0.33
9272       apples  bramleys_seedling  2017        0.75
9273       apples  coxs_orange_group  2017        0.78
9274       apples    egremont_russet  2017        0.86
...           ...                ...   ...         ...
345        turnip             turnip  2021        1.28
27         turnip             turnip  2022        0.63
9303   watercress       pillow_packs  2017       10.82
6944   watercress       pillow_packs  2018        7.35
5495   watercress       pillow_packs  2019       10.14

[397 rows x 4 columns]

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [47]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

In [48]:
result4= result3.copy()

In [49]:
result4["delta"] = result3["last_price"]-result3["last_price"].shift(1)

In [50]:
result4["delta"]=result4["delta"].fillna(0)

In [51]:
result4

             item            variety  year  last_price  delta
9304  alstromeria             indoor  2017        0.27   0.00
6945  alstromeria             indoor  2018        0.33   0.06
9272       apples  bramleys_seedling  2017        0.75   0.42
9273       apples  coxs_orange_group  2017        0.78   0.03
9274       apples    egremont_russet  2017        0.86   0.08
...           ...                ...   ...         ...    ...
345        turnip             turnip  2021        1.28   0.11
27         turnip             turnip  2022        0.63  -0.65
9303   watercress       pillow_packs  2017       10.82  10.19
6944   watercress       pillow_packs  2018        7.35  -3.47
5495   watercress       pillow_packs  2019       10.14   2.79

[397 rows x 5 columns]

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [52]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

      item variety year-month  avg-price
0  Manzana    Gala    2021-01        0.5

In [58]:
result5 = vdf.copy()

In [61]:
result5["year-month"] = pd.to_datetime(vdf["date"]).dt.to_period('M')

In [67]:
result5= result5.loc[:,["item","variety","year-month","price"]].groupby(["item","variety","year-month"],as_index=False).mean().rename(columns={"price":"avg-price"})

In [68]:
result5

             item       variety year-month  avg-price
0     alstromeria        indoor    2017-11     0.2700
1     alstromeria        indoor    2017-12     0.2800
2     alstromeria        indoor    2018-01     0.3100
3     alstromeria        indoor    2018-02     0.3275
4     alstromeria        indoor    2018-03     0.3040
...           ...           ...        ...        ...
2580   watercress  pillow_packs    2019-04     9.4750
2581   watercress  pillow_packs    2019-05     9.5000
2582   watercress  pillow_packs    2019-06     9.4900
2583   watercress  pillow_packs    2019-07     9.4975
2584   watercress  pillow_packs    2019-08     9.9640

[2585 rows x 4 columns]

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [66]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

,category,item,variety,percentage-change-between-first-and-last-price
0,fruta,Manzana,Gala,200
1,fruta,Manzana,egremont_russet,150

In [93]:
asc = vdf.sort_values(by="date",ascending=True)

In [94]:
desc = vdf.sort_values(by="date",ascending=False)

In [95]:
first = asc.loc[:,["item","variety","date","price"]].groupby(["item","variety"], as_index = False).head(1)

In [96]:
last = desc.loc[:,["item","variety","date","price"]].groupby(["item","variety"], as_index = False).head(1)

In [97]:
first = first.drop(columns="date")
last = last.drop(columns="date")

In [99]:
first = first.rename(columns={"price":"first_price"}).sort_values(by=["item"])
last = last.rename(columns={"price":"last_price"}).sort_values(by=["item"])

In [100]:
result6 = pd.merge(first,last)

In [111]:
result6["percentage-change-between-first-and-last-price"] = (result6["last_price"]-result6["first_price"])/result6["first_price"]

In [112]:
result6["percentage-change-between-first-and-last-price"] = round(result6["percentage-change-between-first-and-last-price"]*100,2)

In [115]:
result6= result6.drop(columns= [ "first_price","last_price" ])

In [116]:
result6

,item,variety,percentage-change-between-first-and-last-price
0,alstromeria,indoor,22.22
1,apples,bramleys_seedling,180.82
2,apples,other_early_season,-28.38
3,apples,other_late_season,13.33
4,apples,other_mid_season,36.84
...,...,...,...
80,tomatoes,round,-41.24
81,tomatoes,vine,-18.18
82,tulips,tulips,20.83
83,turnip,turnip,-25.88
84,watercress,pillow_packs,26.12

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente

In [117]:
result7= result6.copy()

In [123]:
result7=result7.loc[result7["percentage-change-between-first-and-last-price"]==result7["percentage-change-between-first-and-last-price"].max()]

In [124]:
result7

            item       variety  percentage-change-between-first-and-last-price
14  blackberries  blackberries                                           275.0